{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

Some short introduction about how rumours point to Kraft looking for [smaller targets](https://www.ft.com/content/db0e8b70-f744-11e6-bd4e-68d53499ed71). On the contrary, it is especially concerned with the scrapping of every word or idiom which has outworn its usefulness. It has nothing to do with correct grammar and syntax, which are of no importance so long as one makes one's meaning clear, or with.

{% endmarkdown %}

<div class="inline-graphic">
  <h2 class="o-typography-subhead--crosshead">Kraft is likely to look for a company with an enterprise value between $40bn and $100bn</h2>
  <img src="images/demo-chart.png" />
</div>

<div class="graphic" id="userinput-wrapper">
  <div id="userinput-container">
    <h2 class="o-typography-heading3">Make your own predictions</h2>
    <div class="o-grid-row">
      <div class="userinput-container__component" id="userinput-input" data-o-grid-colspan="12 M6">
        <p>Choose a per cent premium and cost cutting value prediction to see how it affects Kraft's decision.</p>

        <label for="premium">% premium:</label>
        <input type="range" id="premium" />
        <br />

        <label for="costcut">% cost cut:</label>
        <input type="range" id="costcut" />
      </div>

      <div class="userinput-container__component" id="userinput-output" data-o-grid-colspan="12 M6">
        <img src="images/demo-heatmap.png" />
      </div>
    </div>
    <div class="o-grid-row">
      <div data-o-component="o-expander" class="o-expander items" data-o-expander-shrink-to="0" data-o-expander-count-selector="div" data-o-expander-expanded-toggle-text="Fewer options" data-o-expander-collapsed-toggle-text="More options" data-o-grid-colspan="12" id="more-options">
        <div class="o-expander__content">
          <div>
            <h5>For more options:</h5>
            <b>Campbell</b> (% premium): <input type="number" />
            (% cost cut): <input type="number" />

            <br />
            <br />

            <b>Clorox</b> (% premium): <input type="number" />
            (% cost cut): <input type="number" />

            <br />
            <br />

            <b>Colgate</b> (% premium): <input type="number" />
            (% cost cut): <input type="number" />

            <br />
            <br />

            <b>Kellogg</b> (% premium): <input type="number" />
            (% cost cut): <input type="number" />
          </div>
        </div>
        <a class="o-expander__toggle o--if-js"></a>
      </div>
    </div>
  </div>
</div>

<div id="output-wrapper">
  <div class="output-container">
    <h2>1. Debt v EBITDA — Best value: Mondelez</h2>
    <p>outworn its usefulness. It has nothing to do with correct grammar and syntax,
    which are of no importance so long as one makes one's meaning clear, or with.</p>
    <img src="images/demo-chart.png" />
  </div>

  <div class="output-container">
    <h2>2. Enterprise value — Best value: Colgate</h2>
    <p>outworn its usefulness. It has nothing to do with correct grammar and syntax,
    which are of no importance so long as one makes one's meaning clear, or with.</p>
    <img src="images/demo-chart.png" />
  </div>

  <div class="output-container">
    <h2>3. 2018 EPS Accretion to Kraft — Best value: Clorox</h2>
    <p>outworn its usefulness. It has nothing to do with correct grammar and syntax,
    which are of no importance so long as one makes one's meaning clear, or with.</p>
    <img src="images/demo-chart.png" />
  </div>
</div>

{% markdown %}

To begin with it has nothing to do with archaism, with the salvaging of
obsolete words and turns of speech, or with the setting up of a "standard
English" which must never be departed from. On the contrary, it is
especially concerned with the scrapping of every word or idiom which has
outworn its usefulness. It has nothing to do with correct grammar and syntax,
which are of no importance so long as one makes one's meaning clear, or with.

{% endmarkdown %}

{% endblock %}
