{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

Now that Kraft Heinz will no longer pursue Unilever, Wall Street is speculating on what consumer company it will prey on next. The firms that are most speculated about do not come anywhere near the $150bn price tag of the European juggernaut. But with values ranging between $30bn and $90bn there are plenty of blockbuster targets remaining that will require significant debt, new shares issued to 3G Capital and Warren Buffett and even new shares issued to target shareholders.

{% endmarkdown %}

<div id="react-container" class="graphic"></div>

{% markdown %}

To begin with it has nothing to do with archaism, with the salvaging of
obsolete words and turns of speech, or with the setting up of a "standard
English" which must never be departed from. On the contrary, it is
especially concerned with the scrapping of every word or idiom which has
outworn its usefulness. It has nothing to do with correct grammar and syntax,
which are of no importance so long as one makes one's meaning clear, or with.

{% endmarkdown %}

{% endblock %}
