{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

Wall Street is speculating which consumer group Kraft Heinz, backed by 3G and Warren Buffett, will set it sights on next. Potential targets do not match the [$150bn price tag of the Unilever juggernaut](https://www.ft.com/content/d846766e-f81b-11e6-bd4e-68d53499ed71). But plenty of blockbuster deals remain.  Below is a calculator for you to choose the financial limits behind a potential takeover, including the levels of debt and equity.

{% endmarkdown %}

<div id="react-container" class="graphic"></div>

{% markdown %}

While financial metrics are key to how Kraft Heinz will assess any dealmaking, the strategic merits of each of the target companies varies and is also worth taking into consideration.

Colgate-Palmolive and Kimberly-Clark, for example, would provide a shift into the personal care and household products business. Mondelez, a snacks business, derives three-quarters of its sales from outside the US.

The audacious Unilever approach took the market by surprise. Another bold play very well could be coming. Wall Street watchers can be confident, however, that Kraft Heinz and it backers, 3G Capital and Warren Buffett, will not sit still.

{% endmarkdown %}

{% endblock %}
