#heatmap table {
  tr {
    height: 2em;
    font-weight: 600;
  }

  td {
    text-align: center;
    width: 25%;

    &:nth-child(1) {
      text-align: right;
      padding-right: 5px;
      color: #6b6e68;
    }
  }
}
