$axis-color: #c3bcb0;
$tick-label-color: #6b6e68;
$distribution-color: #A5526A;

svg.column-chart {
  align-self: flex-start;
  margin-top: 7px;
  .axis path,
  .axis line {
    fill: none;
    stroke: $axis-color;
    stroke-width: 2;
    shape-rendering: crispEdges;
  }
  .y.axis {
    path {
       stroke: none;
     }
    .tick line {
      stroke-width: 1;
      stroke-dasharray: 1, 2;
    }
  }
  .axis path {
    display: none;
  }
  .baseline {
    stroke: $axis-color;
    stroke-width: 2;
  }
  .yHighlight {
    stroke: #000;
  }
  text {
    font-size: 13px;
    font-weight: 400;
    fill: $tick-label-color;

    &.column-chart__label {
      fill: #000;
      font-weight: 600;
    }
  }
  .bar {
    fill: $distribution-color;
    shape-rendering: geometricPrecision;
  }
}

div.legend {
  display: flex;
  align-items: center;

  p.o-typography-lead--small {
    margin: 0.3em 0 0.3em 7px;
  }
}
